html, body {
				color: #808080;
				font-family:Monospace;
				font-size:13px;
				text-align:center;

				background-color: #fff;
				margin: 0px;
				overflow: hidden;
				width: 100%;
				height: 100%;
			}

			



	.container {
				margin-left: auto;
				margin-right: auto;
				
				height:200px;
	}
	
	#universe.container {
				margin-left: auto;
				margin-right: auto;
				
				height:500px;
	}
canvas:hover{
transform: scale(1.2);
	border: 5px solid red;
}

			
canvas {width:100px;height:100px}